[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"],
textarea,
.big-select {
	@apply appearance-none w-100p block p-10 text-16 leading-150p font-sans bg-white transition text-gray rounded shadow cursor-pointer;

	&:focus {
		@apply outline-none;
	}

	@screen md {
		@apply p-20;
	}
}

[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"],
textarea {
	&::placeholder {
		@apply opacity-100 text-gray;
	}
}

.big-select {
	@apply bg-no-repeat bg-right;
	background-position: calc(100% - 4px);
	background-image: url('../img/select-arrow.svg');

	@media (max-width: 767px) {
		background-size: 72px 36px;
	}

	@screen md {
		@apply text-24 p-20;
		background-position: calc(100% - 15px);
	}
}
