@mixin selection {
	@apply bg-blue text-white;
	text-shadow: none;
}

::-moz-selection {
	@include selection;
}

::selection {
	@include selection;
}

html {
	font-size: 50%;

	@screen md {
		font-size: 62.5%;
	}
}

body {
	@apply text-16 leading-175p font-sans text-gray-dark;
	letter-spacing: .003em;
}

hr {
	@apply m-0 border-0 bg-current;
	height: 1px;
}

a {
	@apply no-underline text-inherit transition;
}

.cta-link {
	@apply inline-flex items-center;

	.icon {
		@apply ml-10 opacity-50 transition;
		top: -1px;
	}

	&:hover .icon {
		transform: translateX(5px);
	}
}

.styled-links {
	a:not(.btn) {
		@apply text-blue font-medium underline;

		&:hover {
			@apply text-gray-dark no-underline;
		}
	}
}

.rich-text {
	> *:first-child {
		@apply mt-0;
	}

	> *:last-child {
		@apply mb-0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 36px;
	}

	p, pre, address,
	ul, ol, dl,
	table, hr {
		margin-top: 24px;
	}

	h1 {
		@apply h-strong-60;
		text-shadow: 3px 3px #ccd6dc;
	}

	h2 {
		@apply h-52;
		text-shadow: 3px 3px #ccd6dc;
	}

	h3 {
		@apply h-36;
	}

	h4 {
		@apply h-24-upper text-blue;
	}

	ul, ol {
		@apply pl-20;
	}
}
