[data-aos] {
	@for $i from 1 through 10 {
		body[data-aos-duration="#{$i * 100}"] &,
		&[data-aos][data-aos-duration="#{$i * 100}"] {
			transition-duration: #{$i * 100}ms;
		}

		body[data-aos-delay="#{$i * 100}"] &,
		&[data-aos][data-aos-delay="#{$i * 100}"] {
			transition-delay: 0s;

			&.aos-animate {
				transition-delay: #{$i * 100}ms;
			}
		}
	}
}

[data-aos] {
	pointer-events: none;

	&.aos-animate {
		pointer-events: auto;
	}
}

[data-aos="fade-up"] {
	transition-property: transform, opacity;

	&:not(.aos-animate) {
		opacity: 0;
		transform: translateY(20px);
	}
}

[data-aos="fade-right"] {
	transition-property: transform, opacity;

	&:not(.aos-animate) {
		opacity: 0;
		transform: translateX(-20px);
	}
}

[data-aos="fade-down"] {
	transition-property: transform, opacity;

	&:not(.aos-animate) {
		opacity: 0;
		transform: translateY(-20px);
	}
}

[data-aos="fade-left"] {
	transition-property: transform, opacity;

	&:not(.aos-animate) {
		opacity: 0;
		transform: translateX(20px);
	}
}

[data-aos="fade-in"] {
	transition-property: opacity;

	&:not(.aos-animate) {
		opacity: 0;
	}
}
