.btn {
	@apply relative inline-flex rounded text-13 font-extrabold uppercase tracking-1 transition cursor-pointer no-underline leading-24 text-center;
	padding: 2px;

	&:hover {
		transform: translateY(-4px);
	}

	&:focus {
		@apply outline-none;
	}

	&:disabled {
		@apply pointer-events-none opacity-40;
	}
}

.btn-sm .btn-inner {
	padding: 5px 13px;
}

.btn-inner {
	@apply block transition;
	padding: 10px 18px;
	border-radius: 6px;
}

.btn-icon {
	@apply mr-10 -ml-10;
}

.btn-white {
	@apply bg-white text-gray-dark;
	box-shadow: 0 2px 4px rgba(black, .15);

	&:hover {
		box-shadow: 0 5px 10px rgba(black, .2);
	}
}

.btn-outline,
.btn-outline-trans,
.btn-outline-trans-white {
	@apply text-inherit;

	&::before {
		content: '';
		@apply absolute pin pointer-events-none rounded-inherit;
		box-shadow: inset 0 0 0 2px;
	}

	&:hover::before {
		@apply opacity-0;
	}
}

.btn-outline {
	&:hover {
		@apply bg-blue-gradient;
		box-shadow: 0 5px 10px rgba(black, .2);

		.btn-inner {
			@apply bg-white text-blue;
		}
	}
}

.btn-outline-trans {
	&::before {
		@apply opacity-40;
	}

	&:hover {
		@apply bg-blue-gradient;
		box-shadow: 0 5px 10px rgba(black, .2);

		.btn-inner {
			@apply bg-white text-blue;
		}
	}
}

.btn-outline-trans-lg {
	padding: 4px;

	&::before {
		@apply opacity-20;
		box-shadow: inset 0 0 0 4px;
	}
}

.btn-outline-trans-white {
	&::before {
		@apply opacity-40;
	}

	&:hover {
		@apply bg-white;
		box-shadow: 0 5px 10px rgba(black, .2);

		.btn-inner {
			@apply text-gray-darker;
		}
	}
}

.btn-blue {
	@apply bg-blue-gradient text-white;
	box-shadow: 0 2px 4px rgba(#5a52ff, .3);

	&:hover {
		box-shadow: 0 5px 10px rgba(#5a52ff, .4);

		.btn-inner {
			@apply bg-white text-blue;
		}
	}
}

.btn-alt {
	@apply inline-block align-top py-15 px-25 leading-20 font-extrabold;

	strong {
		@apply block text-18 mt-5;
	}
}

.btn-alt-pink {
	@apply bg-pink-gradient text-white
}

.btn-alt-gray {
	background-image: linear-gradient(white, config('colors.gray-lightest'));
	box-shadow: inset 0 0 0 2px config('colors.gray-lighter');
}

.btn-alt-outline {
	box-shadow: inset 0 0 0 2px rgba(black, .3);
}

.btn-group {
	@apply flex flex-wrap -mt-10 -mx-5;

	.btn,
	.btn2 {
		@apply mt-10 mx-5;
	}
}
