a.card:hover {
	.card-media {
		@apply shadow;
		transform: translateY(-5px);
	}

	.card-body {
		@apply shadow;
		transform: translateY(-20px);
	}
}

.card-media {
	@apply relative rounded locked shadow-sm overflow-hidden transition;
	padding-bottom: 100%;
}

.card-body {
	@apply relative -mt-40 mr-30 p-20 bg-white shadow-sm rounded rounded-tl-0 text-left transition;
}
