.event {
	@apply relative block bg-white shadow-sm rounded transition;

	&:hover {
		@apply shadow text-white;
		transform: translateY(-5px);

		&.enable-btn-hover .event-btn,
		&.enable-btn-hover .event-btn .event-btn-inner {
			@apply transition;
		}

		.event-date,
		.event-price {
			@apply text-inherit;
		}

		.event-btn::before {
			@apply opacity-40;
		}
	}

	&:not(:hover) .event-body-bg,
	&:not(:hover) .event-body-bg-img {
		opacity: 0 !important;
	}

	@screen sm {
		@apply flex;
	}
}

.event-poster {
	@apply flex-no-shrink overflow-hidden rounded-l z-1;

	@media (max-width: 575px) {
		@apply absolute rounded mt-10 -ml-10 shadow-sm;
		width: 70px;
	}

	@screen sm {
		@apply relative;
		width: 110px;
	}
}

.event-body {
	@apply relative p-30 rounded text-left overflow-hidden;

	@media (max-width: 575px) {
		padding-left: 80px;
	}

	@screen sm {
		@apply flex items-center justify-between flex-grow rounded-l-0;
	}
}

.event-body-bg {
	@apply absolute pin rounded-r transition;
}

.event-body-bg-img {
	@apply bg-img rounded-r transition;
}

.event-info {
	@apply relative;
}

.event-label {
	@apply text-12 uppercase font-extrabold tracking-2;
}

.event-title {
	@apply h-strong-28 mt-10;
}

.event-date {
	@apply text-15 text-gray mt-5;
}

.event-cta {
	@apply relative flex items-center mt-15;

	@screen sm {
		@apply block text-center ml-15 mt-0;
	}
}

.event-btn,
.event-btn .btn-inner {
	@apply transition-none;
}

.event-price {
	@apply uppercase tracking-1 text-13 text-gray-light font-extrabold ml-10;

	@screen sm {
		@apply mt-5 ml-0;
	}
}
