.flickity-enabled {
	@apply relative;

	&:focus {
		@apply outline-none;
	}
}

.flickity-viewport {
	@apply relative h-100p;
}

.flickity-slider {
	@apply absolute w-100p h-100p;
}

.flickity-enabled.is-fade .flickity-slider > * {
	@apply pointer-events-none z-0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
	@apply pointer-events-auto z-1;
}
