.footer-cta {
	@apply relative z-1 bg-blue-gradient text-white;

	&::before {
		content: '';
		@apply absolute pin;
		background: url('../img/footer-top-overlay.png') -2% 90% / 300px no-repeat;
		z-index: -1;
	}
}

.footer-top {
	padding-top: 4.75%;
	background: url('../img/footer-top.svg') center top / 100% auto no-repeat;
}
