.h-strong-88 {
	font-weight: 800;
	font-size: 8.8rem;
	line-height: 1.25;
	letter-spacing: -1px;
}

.h-strong-60 {
	font-weight: 800;
	font-size: 6.0rem;
	line-height: 1.25;
	letter-spacing: -1px;
}

.h-strong-36 {
	font-weight: 800;
	font-size: 3.6rem;
	line-height: 1.25;
}

.h-strong-28 {
	font-weight: 800;
	font-size: 2.8rem;
	line-height: 1.25;
}

.h-strong-22 {
	font-weight: 800;
	font-size: 2.2rem;
	line-height: 1.25;
}

.h-strong-24-upper {
	font-weight: 800;
	font-size: 2.4rem;
	line-height: 1.25;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.h-52 {
	font-weight: 300;
	font-size: 5.2rem;
	line-height: 1.25;
	letter-spacing: -1px;
}

.h-36 {
	font-weight: 300;
	font-size: 3.6rem;
	line-height: 1.25;
	letter-spacing: -1px;
}

.h-28 {
	font-weight: 300;
	font-size: 2.8rem;
	line-height: 1.25;
}

.h-24 {
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1.25;
}

.h-22 {
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 1.25;
}

.h-20 {
	font-weight: 400;
	font-size: 2.0rem;
	line-height: 1.25;
}

.h-24-upper {
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1.25;
	letter-spacing: 3px;
	text-transform: uppercase;
}
