.header-slider-bgs {
	@apply absolute pin pointer-events-none overflow-hidden;

	&:not(.flickity-enabled) .header-slider-bg:not(:first-child) {
		@apply hidden;
	}

	.flickity-viewport {
		height: 100% !important;
	}
}

.header-slider-bg {
	@apply absolute pin w-100p;
}

.header-slider-arrow {
	@apply absolute z-10 mt-100;

	.btn-inner {
		padding: 28px 8px;
	}

	&.prev { @apply pin-l ml-10; }
	&.next { @apply pin-r mr-10; }

	@screen sm {
		top: 50%;
		margin-top: -42px;
	}

	@screen xl {
		&.prev { margin-left: -75px; }
		&.next { margin-right: -75px; }
	}
}

.header-slider-slides {
	&:not(.flickity-enabled) .header-slider-slide:not(:first-child) {
		@apply hidden;
	}
}

.header-slider-slide {
	@apply w-100p items-center;

	@screen md {
		@apply flex;
	}
}

.header-bottom {
	@apply relative overflow-hidden;
	padding-top: 15%;

	@screen sm {
		padding-top: 14%;
	}

	@screen md {
		padding-top: 12%;
	}

	@screen lg {
		padding-top: 8.1%;
	}
}

.header-bottom-simple {
	padding-top: 4.6%;
}

.header-bottom-1,
.header-bottom-2 {
	@apply absolute pin-l w-100p locked;
}

.header-bottom-1 {
	@apply pin-t;
}

.header-bottom-2 {
	@apply pin-b;
}

.header-bottom-share {
	@apply absolute pin-r;
	top: 60%;
	margin-top: -12px;
	width: 50%;
	height: 24px;

	@screen md {
		top: 65%;
	}

	@screen lg {
		top: 75%;
	}
}
