.icon {
	@apply inline-block align-top relative locked;

	svg {
		@apply w-100p h-100p align-top;
	}
}

.icon-auto { width: 1em; height: 1em; }

.icon-10 { width: 10px; height: 10px; }
.icon-20 { width: 20px; height: 20px; }
.icon-24 { width: 24px; height: 24px; }
.icon-36 { width: 36px; height: 36px; }
.icon-48 { width: 48px; height: 48px; }

.icon.input-icon {
	@apply absolute pointer-events-none pin-t pin-l m-10 z-1 transition;

	@screen md {
		@apply m-20;
	}
}
