.icon-block {
	@apply relative pt-100 pb-50 px-40 rounded-15;

	@media md {
		padding-top: 140px;
		padding-bottom: 60px;
	}
}

.icon-block-icon {
	@apply absolute rounded-full bg-white shadow-sm text-blue scale-75p;
	right: 20px;
	top: -20px;
	padding: 36px;
	transform-origin: top right;

	@screen md {
		@apply scale-100p;
		right: 80px;
		top: -60px;
	}
}
