.modal-bg {
	@apply fixed pin w-100p h-100p overflow-auto z-40 p-20 text-center;
	background-image: linear-gradient(to bottom right, rgba(#8c86ff, .9), #5a52ff);

	&::before {
		content: '';
		@apply inline-block align-middle h-100p;
		margin-right: -0.05em;
	}

	&.behind {
		@apply bg-transparent;
	}
}

.modal {
	@apply hidden relative align-middle w-100p bg-gray-lightest p-20 rounded-15 z-50 shadow max-w-600;

	@screen md {
		@apply p-40;
	}
}

.modal-close {
	@apply absolute p-10 -mt-10 -mr-10 pin-t pin-r bg-gray-dark text-white leading-20 rounded-full shadow-sm transition;
	width: 40px;
	font-size: 20px;
	line-height: 1;

	&:hover {
		@apply bg-gray-darker shadow-lg scale-125p;
	}
}
