.photo-feature {
	@apply relative text-15 text-white bg-gray-dark rounded overflow-hidden;
	padding-bottom: 100%;

	&:not(:hover) {
		.bg-img {
			opacity: 1 !important;
		}

		.photo-feature-inner {
			transform: translateY(20px);
			opacity: 0;
			visibility: hidden;
		}

		.photo-feature-title {
			transform: translateY(10px);
			opacity: 0;
		}
	}

	.bg-img {
		@apply transition;
	}
}

.photo-feature-inner {
	@apply absolute pin flex items-end transition;
	margin: 10%;
}

.photo-feature-content {
	@apply w-100p;
}

.photo-feature-title {
	@apply transition;
}
