.search-form {
	@apply relative;
}

.search-input {
	@apply pl-50;
	padding-right: 85px;

	&::-webkit-search-cancel-button {
		@apply hidden;
	}

	&:not(:valid) ~ .search-btn {
		@apply pointer-events-none opacity-20;
	}

	@screen md {
		@apply text-24;
		padding: 20px 130px 20px 60px;
	}
}

.search-btn {
	@apply absolute;
	right: 4px;
	top: 50%;
	margin-top: -24px;

	@media (max-width: 767px) {
		@apply scale-75p;
		transform-origin: right center;
	}

	@screen md {
		right: 15px;
	}
}

.icon.search-icon {
	@apply text-gray-light;

	@screen md {
		@apply mt-25;
	}
}
