.section {
	@apply relative py-50;

	@screen md {
		@apply py-100;
	}
}

.section-sm {
	@apply relative py-25;

	@screen md {
		@apply py-40;
	}
}

.spacer {
	@apply pt-50;

	@screen md {
		@apply pt-100;
	}
}

.spacer-sm {
	@apply pt-15;

	@screen md {
		@apply pt-25;
	}
}

.spacer-md {
	@apply pt-25;

	@screen md {
		@apply pt-50;
	}
}

.layer {
	@apply absolute pin;
}
