.tabs-tabs {
	@apply relative flex justify-center;
}

.tabs-tabs-line-behind {
	&::before {
		@apply absolute pin-l w-100p rounded bg-gray-lighter;
		content: '';
		top: 22px;
		height: 4px;
	}
}

.tabs-tabs-inner {
	@apply relative flex rounded shadow-sm;
}

.tabs-tab {
	@apply block text-11 leading-24 uppercase font-extrabold tracking-1 transition cursor-pointer bg-white;
	padding: 12px 20px;

	&:first-child { @apply rounded-l; }
	&:last-child { @apply rounded-r; }

	&:not(.open) + &:not(.open) {
		box-shadow: inset 1px 0 config('colors.gray-lighter');
	}

	&.open {
		@apply bg-gray-dark text-white;
	}

	&:focus {
		@apply outline-none;
	}

	@screen sm {
		@apply text-13;
	}
}

.tabs-content:not(.open) {
	@apply hidden;
}
