.team-arrow {
	@apply absolute z-10 mt-100;

	&.prev { @apply pin-l ml-10; }
	&.next { @apply pin-r mr-10; }

	.btn-inner {
		padding: 28px 8px;
	}

	@screen md {
		top: 50%;
		margin-top: -42px;

		&.prev { @apply -ml-30; }
		&.next { @apply -mr-30; }
	}

	@screen xl {
		&.prev { margin-left: -75px; }
		&.next { margin-right: -75px; }
	}
}

.team-big-thumb {
	@apply locked rounded shadow;
}

.team-thumbs {
	@apply flex flex-wrap items-start -mt-10;
}

.team-thumb {
	@apply rounded mt-10 mr-10 cursor-pointer transition;
	width: 60px;

	&:not(.active) {
		@apply opacity-50;

		&:hover {
			@apply opacity-80;
		}
	}
}

.team-bios {
	@apply relative my-30 -mx-20 px-20 overflow-hidden;

	&::before,
	&::after {
		content: '';
		@apply absolute h-100p pin-t z-1;
		width: 20px;
	}

	&::before {
		@apply pin-l;
		background-image: linear-gradient(to right, #f3f5f6, ease, rgba(#f3f5f6, 0));
	}

	&::after {
		@apply pin-r;
		background-image: linear-gradient(to right, rgba(#f3f5f6, 0), ease, #f3f5f6);
	}

	.flickity-viewport {
		@apply overflow-visible;
	}

	@screen md {
		@apply mb-0 mt-50 -mx-20 px-20;
		order: 1;

		&::before,
		&::after {
			width: 30px;
		}
	}
}

.team-bio {
	@apply w-100p mr-30 text-left;
}
