.bg-blue-gradient {
	background-image: linear-gradient(to bottom right, config('colors.blue-light'), config('colors.blue'));
}

.bg-pink-gradient {
	background-image: linear-gradient(#772b74, #622360);
}

.bg-darken-img {
	background-image: linear-gradient(to top right, rgba(11, 20, 26, .6), rgba(11, 20, 26, .1));
}
