.locked {
	user-select: none;
	pointer-events: none;
}

.bg-img-canvas {
	display: block;
	position: relative;
	padding-bottom: 65%;
}

.bg-img {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	pointer-events: none;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover;';
}

.ir {
	text-indent: -999em;
}

.threeD-img {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border-radius: 8px;

	img {
		border-radius: inherit;
		box-shadow: 0 4px 25px rgba(0, 0, 0, .4);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		border: 1px solid rgba(255, 255, 255, .15);
	}
}
